[test]
#model_path=model/wave/centertrue_realmodel/model.pth
#model_path=model/deploy/conv_padding/model.pth
model_path=test_models/model.pth
#model_path=model/deploy2/model.pth
#model_path=model/deploy/context10/model.pth
#model_path=model/wave/centerfalse_realmodel/model.pth
#lm_path=/home/chuyan/kenlm/build/14m_4.arpa
lm_path=
gpu=
